/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/reset.h>
#include <dt-bindings/zmk/ext_power.h>


&mt {
	flavor = "hold-preferred";
//	tapping_term_ms = <200>;
};

/ { 
        keymap {
                compatible = "zmk,keymap";
                
       		layer0_QWERTY {
          bindings = <
          &kp Q 	&kp W 		&kp E 		&kp R 		&kp T 			&kp Y 		&kp U 		&kp I 		&kp O 		&kp P 
	  &mt LSHFT A 	&lt 5 S 	&kp D 		&lt 3 F 	&kp G 			&kp H 		&lt 4 J 	&lt 2 K 	&lt 6 L 	&mt LSHFT SEMI 
	  &kp Z 	&mt LCTRL X 	&mt LALT C 	&mt LCTRL V 	&kp B 			&kp N 		&kp M 		&mt LALT COMMA 	&mt LCTRL DOT 	&kp SLASH 
	  						&kp KP_N0 	&kp BSPC 		&lt 7 SPACE 	&lt 8 KP_N1
          >;
        };

       		layer1_GAMEPAD {
          bindings = <
          &none 	&none 		&kp W 		&none 		&none 			&trans 		&trans 		&trans 		&trans 		&none 
	  &kp LSHFT 	&kp A 		&kp S		&kp D 		&none 			&trans 		&trans 		&trans 		&trans 		&trans 
	  &kp LCTRL 	&none 		&none 		&none 		&none 			&trans 		&trans 		&trans 		&trans 		&trans 
	  						&none 		&kp SPACE		&trans 		&trans
          >;
        };
		
		layer2_ARROWS {
          bindings = <
          &trans 	&trans 		&kp PG_UP 	&trans 		&trans 			&trans 		&trans 		&trans 		&trans 		&trans 
	  &kp LEFT 	&kp UP 		&kp DOWN 	&kp RIGHT 	&trans 			&trans 		&kp LEFT_GUI 	&none 		&kp LC(LALT) 	&kp LC(LA(LSHFT)) 
	  &trans 	&kp HOME 	&kp PG_DN 	&kp END 	&trans 			&trans 		&trans 		&trans 		&trans 		&trans 
	  						&trans 		&trans 			&trans 		&trans
          >;
        };
		
		layer3_RSYM {
          bindings = <
          &trans 	&trans 		&trans 		&trans 		&trans 			&trans 		&kp UNDER 	&kp PIPE 	&kp APOS	&trans 
	  &kp CARET 	&kp STAR 	&kp AMPS 	&none	 	&trans 			&kp HASH 	&kp TILDE 	&kp SLASH 	&kp DQT 	&kp DLLR 
	  &trans 	&trans 		&trans 		&trans 		&trans 			&trans 		&kp MINUS 	&kp BACKSLASH 	&kp GRAVE 	&trans 
	  						&trans	 	&trans 			&trans 		&trans
          >;
        };
	
		layer1_GAMEPAD {
          bindings = <
          &none 	&none 		&kp W 		&none 		&none 			&trans 		&trans 		&trans 		&trans 		&none 
	  &kp LSHFT 	&kp A 		&kp S		&kp D 		&none 			&trans 		&trans 		&trans 		&trans 		&trans 
	  &kp LCTRL 	&none 		&none 		&none 		&none 			&trans 		&trans 		&trans 		&trans 		&trans 
	  						&none 		&kp SPACE		&trans 		&trans
          >;
        };
        
	};
};
